@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .text-shadow {
        text-shadow: 4px 4px 8px rgba(0,0,0,0.75);
    }
}

@layer components {
    .slider {
        @apply flex flex-col justify-center h-screen w-screen bg-cover text-white px-6 md:px-12 space-y-16 box-border absolute
    }

    .slideOne {
        @apply slider bg-slideOne bg-right text-left items-start
    }
    .slideTwo {
        @apply slider bg-slideTwo bg-left text-right items-end
    }
    .slideThree {
        @apply slider bg-slideThree bg-right text-left items-start
    }

    .navButton {
        @apply hover:scale-125 duration-200 ease-out
    }

    .mainHeader {
        @apply flex items-center h-16 md:h-20 w-screen fixed px-6 md:px-12 justify-between bg-gradient-to-b from-black z-10
    }

    .whiteHeader {
        @apply flex items-center h-16 md:h-20 w-screen fixed px-6 md:px-12 justify-between z-10 text-black bg-stone-100
    }

    .filterInput {
        @apply w-full focus:outline-0 m-0 bg-stone-100 ml-3
    }

    .productButton {
        @apply duration-200 hover:scale-110
    }

    body {
        @apply scrollbar-thin scrollbar-thumb-black scrollbar-track-stone-100
    }
}

body{
    overflow-x: hidden;
}

.detailed-bg{
    background: linear-gradient(170deg, #f5f5f4 40%, #e7e5e4 40%);
}

